.activity__container {
  width: 1180px;
  max-width: 100%;
  padding-top: 154px;
  padding-bottom: 100px;

  @include vp-1199 {
    width: 100%;
    padding-top: 95px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-top: 64px;
  }
}

.activity__title {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $sapphire;

  @include vp-1199 {
    margin-left: -9px;
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-left: -5px;
    margin-bottom: 41px;
    font-size: 32px;
    line-height: 38px;
  }
}

.activity__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-left: 0;
  list-style: none;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.activity__item {
  display: flex;
  flex-direction: column;
  padding: 13px 28px 28px;
  font-family: $ff-roboto-condensed;
  color: $resolution-blue;
  border: 7px solid;
  border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;

  @include vp-1199 {
    min-height: 211px;
    padding: 15px 29px 28px 28px;
  }

  @include vp-767 {
    align-items: center;
    padding: 26px 29px 38px 28px;
    text-align: center;
  }

  &--big {
    position: relative;
    min-height: 462px;
    padding: 32px 57% 45px 45px;
    grid-row: 1 / 3;
    color: $color-default-white;
    background-color: $torch-red;
    border: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      height: 100%;
      width: calc(100% - 278px);
      background-repeat: no-repeat;
      background-image: url("../img/activity-athlete@1x.jpg");
      background-position: center;
      background-size: cover;


      @supports (background-image: url("../img/activity-athlete@1x.webp")) {
        background-image: url("../img/activity-athlete@1x.webp");
      }

      @include retina {
        background-image: url("../img/activity-athlete@2x.jpg");

        @supports (background-image: url("../img/activity-athlete@2x.webp")) {
          background-image: url("../img/activity-athlete@2x.webp");
        }
      }

      @include vp-1199 {
        background-image: url("../img/activity-athlete-tablet@1x.jpg");

        @supports (background-image: url("../img/activity-athlete-tablet@1x.webp")) {
          background-image: url("../img/activity-athlete-tablet@1x.webp");
        }

        @include retina {
          background-image: url("../img/activity-athlete-tablet@2x.jpg");

          @supports (background-image: url("../img/activity-athlete-tablet@2x.webp")) {
            background-image: url("../img/activity-athlete-tablet@2x.webp");
          }
        }
      }

      @include vp-767 {
        display: none;
      }
    }

    @include vp-1199 {
      min-height: 60vw;
      grid-row: auto;
      grid-column: 1 / 3;
      padding: 32px 65% 45px 45px;
    }

    @include vp-767 {
      min-height: 187vw;
      grid-column: auto;
      padding: 35px 45px 119% 45px;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;

      background-image: url("../img/activity-athlete-mobile@1x.jpg");

      @supports (background-image: url("../img/activity-athlete-mobile@1x.webp")) {
        background-image: url("../img/activity-athlete-mobile@1x.webp");
      }

      @include retina {
        background-image: url("../img/activity-athlete-mobile@2x.jpg");

        @supports (background-image: url("../img/activity-athlete-mobile@2x.webp")) {
          background-image: url("../img/activity-athlete-mobile@2x.webp");
        }
      }
    }
  }
}

.activity__item-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 0;

  &--item-big {
    font-size: 28px;

    @include vp-1199 {
      max-width: 220px;
    }

    @include vp-767 {
      max-width: none;
      margin-bottom: -4px;
    }
  }
}

.activity__item-title-big-text {
  display: block;
  margin-top: -22px;
  font-size: 70px;
  line-height: 109px;

  @include vp-767 {
    margin-top: -25px;
  }
}

.activity__description {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;

  &--item-big {
    margin-top: -2px;
    font-size: 18px;
    line-height: 25px;

    @include vp-1199 {
      max-width: 220px;
    }

    @include vp-767 {
      max-width: none;
    }
  }

  &--smaller-width {
    @include vp-1199 {
      width: 89%;
    }
  }
}

.activity__link {
  width: min-content;
  margin-top: auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $sapphire;
  border-bottom: 1px solid;
  border-color: $sapphire;
  cursor: pointer;
  transition: opacity $trans-default;

  &--big-item {
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    border-color: $color-default-white;

    @include vp-1199 {
      max-width: 220px;
    }

    @include vp-767 {
      max-width: none;
    }
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
