.coaches {
  position: relative;
  font-family: $ff-roboto-condensed;
}

.coaches__container {
  width: 1180px;
  max-width: 100%;
  padding-top: 4px;
  padding-bottom: 91px;

  @include vp-1199 {
    width: 100%;
    padding: 21px 101px 100px;
  }

  @include vp-767 {
    padding: 18px 47px 68px;
  }
}

.coaches__title {
  margin-top: 0;
  margin-bottom: 47px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  align-items: center;
  letter-spacing: 0.03em;
  color: $sapphire;

  @include vp-1199 {
    margin-bottom: 30px;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.coaches__card {
  position: relative;
  height: 294px;
  padding: 53px 46px 22px 45px;

  &:hover {
    background: #102654e3;
  }

  &:focus {
    background: #102654e3;
  }

  @include vp-1199 {
    height: auto;
    aspect-ratio: 0.91 / 1;
    padding: 53px 46px 22px 38px;
  }

  @include vp-767 {
    aspect-ratio: 0.82 / 1;
    padding: 42px 13px 28px 13px;
  }

  &--4 {
    overflow: hidden;
  }
}

.coaches__card:hover .coaches__card-text-container,
.coaches__card:focus .coaches__card-text-container {
  justify-content: start;
}

.coaches__card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.coaches__card:hover .coaches__card-text,
.coaches__card:focus .coaches__card-text,
.coaches__card:hover .coaches__list,
.coaches__card:focus .coaches__list {
  display: block;
}

.coaches__coach-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &--4 {
    max-width: none;
    height: 100%;
    width: 105%;
    margin-left: -7px;

    @include vp-1199 {
      width: 100%;
      margin-left: 0;
    }
  }
}

.coaches__card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  &--4 {
    @include vp-1199 {
      margin-left: 14px;
    }

    @include vp-767 {
      margin-left: 0;
    }
  }
}

.coaches__card-text {
  display: none;
  margin-top: -6px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 24px;
  color: $spindle;
}

.coaches__list {
  display: none;
  margin: 0;
  padding-left: 25px;

  @include vp-1199 {
    padding-left: 32px;
  }

  @include vp-767 {
    padding-left: 36px;
  }
}

.coaches__item {
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.coaches__swiper-container {
  // position: relative;
}

.coaches__swiper-button-prev,
.coaches__swiper-button-next {
  top: 54%;
  width: 16px;
  height: 32px;

  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-1199 {
    top: 51.4%;
  }

  @include vp-767 {
    top: 56%;
    width: 10px;
    height: 19px;
  }

  &::after {
    display: none;
  }
}

.coaches__swiper-button-prev {
  left: 46px;

  @include vp-767 {
    left: 15px;
  }
}

.coaches__swiper-button-next {
  right: 46px;
  transform: rotate(180deg);

  @include vp-767 {
    right: 15px;
  }
}
