.main-header {
  position: absolute;
  left: 0;
  right: 0;
  font-family: $ff-alumni-sans;
  background-color: $sapphire;
}

.main-header__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 1180px;
  max-width: 100%;
  padding-top: 30px;

  @include vp-1199 {
    width: 100%;
    padding-top: 34px;
  }

  @include vp-767 {
    padding-top: 16px;
  }
}

.main-header__logo {
  margin-top: 10px;
  z-index: 1;

  @include vp-1199 {
    margin-top: 7px;
  }

  @include vp-767 {
    margin-top: 1px;
  }
}

.main-header__logo-img {
  @include vp-1199 {
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    width: 69px;
    height: 20px;
  }
}

.main-header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  z-index: 1;
}

.main-header__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.main-header__link {
  width: max-content;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-1199 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}
